
.menu-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.menu-button {
  border: 1px solid white;
  display: flex;
  margin: 5px;
}

.spawn-area {
  display: flex;
  position: absolute;
  border: 3px solid white;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 50vw;
  left: 50%;
  top: 50%;
  border-radius: 40%;
  transform: translate(-50%, -50%);
}

.game-space {
  display: flex;
  position: absolute;
  border: 3px solid white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 80vh;
  width: 40vw;
}

.tower1 {
  border: 5px solid white;
  width: 2em;
  height: 2em;
  border-radius: 20%;
}

.tower2 {
  border: 5px solid red;
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 20%;
  rotate: 30deg;
}

.tower-range {
  border: 5px solid green;
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  rotate: 30deg;
}